extends layout

block content

  .row
    .col.m3
      fieldset
        legend 登録完了
        .row
          .col.m12
            a._primary.button(href="/search/complete" style="margin-right:.25em") スクリーンショットを撮る
            a.button(href="/search" style="margin-right:.25em") 再登録
