doctype html
html
  head
    title テストツール
    link(rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      script(src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js")